---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Sobre nosotros',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Sobre nosotros">
    <Fragment slot="title">
      Eleva tu presencia online con nuestras <br />
      <span class="text-accent dark:text-white highlight"> Hermosas Plantillas Web</span>
    </Fragment>

    <Fragment slot="subtitle">
      En Announce Me, nos dedicamos a proporcionar soluciones digitales integrales para potenciar tu negocio. Con nuestras plantillas web, aseguramos que tu presencia online sea atractiva, funcional y efectiva.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Estadísticas sobre nosotros"
    stats={[
      { title: 'Oficinas', amount: '4' },
      { title: 'Empleados', amount: '248' },
      { title: 'Plantillas', amount: '12' },
      { title: 'Premios', amount: '24' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nuestras plantillas"
    subtitle="Ofrecemos una variedad de plantillas diseñadas para diferentes industrias y necesidades."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educacional',
        description:
          'Plantillas diseñadas para instituciones educativas que buscan una presencia en línea profesional y atractiva.',
        icon: 'tabler:template',
      },
      {
        title: 'Diseño Interior',
        description:
          'Ideal para estudios de diseño interior que desean mostrar su portafolio y atraer nuevos clientes.',
        icon: 'tabler:template',
      },
      {
        title: 'Fotografía',
        description:
          'Perfecta para fotógrafos que quieren exhibir sus trabajos de manera visualmente impactante.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Plantillas optimizadas para tiendas en línea, ofreciendo una experiencia de compra fluida y atractiva.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Diseños pensados para bloggers que necesitan un espacio elegante y funcional para compartir sus ideas.',
        icon: 'tabler:template',
      },
      {
        title: 'Negocios',
        description:
          'Plantillas corporativas para empresas que desean una presencia en línea profesional y confiable.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Diseños especializados en la construcción y fortalecimiento de marcas en el entorno digital.',
        icon: 'tabler:template',
      },
      {
        title: 'Médico',
        description:
          'Plantillas para profesionales y clínicas del sector salud, centradas en la confianza y la información.',
        icon: 'tabler:template',
      },
      {
        title: 'Diseño de Moda',
        description:
          'Ideales para diseñadores de moda que quieren destacar sus colecciones y atraer a un público exclusivo.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Imagen colorida',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nuestros valores"
    subtitle="En Announce Me, valoramos la satisfacción del cliente, la mejora continua y las prácticas éticas en todos nuestros proyectos."
    items={[
      {
        title: 'Enfoque centrado en el cliente',
        description:
          'Nos esforzamos por entender y satisfacer las necesidades específicas de cada cliente, ofreciendo soluciones personalizadas.',
      },
      {
        title: 'Mejora constante',
        description:
          'Buscamos siempre mejorar y evolucionar nuestros servicios para mantenernos a la vanguardia del sector digital.',
      },
      {
        title: 'Prácticas éticas',
        description:
          'Operamos con integridad y transparencia, asegurando que todas nuestras prácticas sean justas y responsables.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Logros"
    subtitle="Nuestros logros reflejan nuestro compromiso con la excelencia y la satisfacción del cliente."
    isReversed={true}
    callToAction={{
      text: 'Ver más',
      href: '/',
    }}
    items={[
      {
        title: 'Alcance global',
        description: 'Hemos ayudado a empresas de todo el mundo a mejorar su presencia en línea.',
        icon: 'tabler:globe',
      },
      {
        title: 'Comentarios positivos',
        description:
          'Nuestros clientes valoran nuestra dedicación y los resultados que hemos logrado juntos.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Premios y reconocimientos',
        description:
          'Hemos sido reconocidos como líderes en la industria por nuestro trabajo excepcional.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestras ubicaciones"
    tagline="Encuéntranos"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '<img src="/src/assets/icons/estados-unidos.png" alt="Bandera de EE.UU" style="width: 20px; margin-right: 8px;" /> 12345, Miami',
      },
      {
        title: 'España',
        description: '<img src="/src/assets/icons/espana.png" alt="Bandera de España" style="width: 20px; margin-right: 8px;" /> 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '<img src="/src/assets/icons/australia.png" alt="Bandera de Australia" style="width: 20px; margin-right: 8px;" /> 90123, Sydney',
      },
      {
        title: 'Brasil',
        description: '<img src="/src/assets/icons/brazil.png" alt="Bandera de Brasil" style="width: 20px; margin-right: 8px;" /> 34567, São Paulo',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Soporte técnico"
    tagline="Contáctanos"
    columns={2}
    items={[
      {
        title: 'Chatea con nosotros',
        description:
          'Ofrecemos soporte en tiempo real a través de nuestro chat en línea para resolver tus dudas al instante.',
        icon: 'tabler:messages',
      },
      {
        title: 'Llámanos',
        description:
          'Puedes llamarnos para recibir asistencia personalizada y resolver cualquier problema que tengas.',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
