---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Slider from '~/components/Slider.astro';

const metadata = {
  title: 'Announce me',
  ignoreTitleTemplate: true,
};

const actions = [
  {
    variant: 'primary',
    text: 'Servicios',
    href: '/services',
    target: '_blank',
    icon: 'tabler:briefcase',
  },
  { 
    variant:'secondary',
    text: 'Sobre nosotros', 
    href: '/about', 
    target: '_blank',
  },
];

const media = {
  src: '/src/assets/images/desarrollowebgif.gif',
  alt: 'Desarrollo Web GIF',
  type: 'gif',
};
---

<Layout metadata={metadata}>
  
  <!-- Hero Widget ******************* -->
  <Hero actions={actions} media={media}>
    <Fragment slot="title">
      Bienvenid@ a la web <span class="hidden xl:inline">de</span>
      <span class="text-accent dark:text-white highlight"> ANNOUNCE ME:</span> tu socio estratégico del mundo digital
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      En <span class="font-semibold">Announce me</span> nos especializamos en ofrecer una gama completa de servicios diseñados para potenciar tu presencia en línea y ayudarte a alcanzar tus objetivos comerciales. Nuestra experiencia y dedicación nos permiten ofrecer soluciones personalizadas para nuestros clientes.
      </span>
    </Fragment>
  </Hero>

   <!-- Note Widget ******************* -->
   <Note />

   <!-- Slider ******************* -->
  <Slider />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Qué te ofrecemos"
    subtitle="A continuación puedes ver nuestros servicios"
    tagline="Components"
    items={[
      {
        title: 'Desarrollo web',
        description: "Programación personalizada de tu presencia online: web corporativa, ecommerce, hosting profesional.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Redes sociales',
        description: "Creamos contenidos de alta calidad destinados a maximizar los resultados de tu estrategia de comunicación online.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Redacción de copy y blogs',
        description:
          'Comunicamos la esencia de tu marca y de tu negocio para llegar a tu público objetivo con el mensaje clave.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'SEO',
        description:
          "Te ayudamos a mejorar el posicionamiento de tu sitio web en buscadores para que los clientes te encuentren.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Google Ads',
        description:
          'Desarrollamos campañas altamente efectivas de Google Ads para atraer clientes a tu sitio web de manera constante.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Networking de profesionales',
        description: 'La colaboración entre empresas y socios es parte de nuestra esencia en Announce Me. ¡Llegamos más lejos en equipo!',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Sumérgete en las siguientes preguntas para obtener información sobre los potentes servicios que Announce Me ofrece y cómo pueden impulsar tu presencia digital."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué elegir Announce Me?',
        description:
          "En Announce Me, nos especializamos en ofrecer una gama completa de servicios diseñados para potenciar tu presencia en línea y ayudarte a alcanzar tus objetivos comerciales. Nuestra experiencia y dedicación nos permiten ofrecer soluciones personalizadas para nuestros clientes.",
        icon: 'tabler:star',
      },
      {
        title: '¿Qué servicios ofrece Announce Me?',
        description:
          'Ofrecemos desarrollo web, gestión de redes sociales, redacción de copy y blogs, SEO, campañas de Google Ads y networking de profesionales. Todos nuestros servicios están diseñados para ayudarte a destacar en el mundo digital.',
        icon: 'tabler:briefcase',
      },
      {
        title: '¿Cómo puedo empezar?',
        description:
          'Puedes empezar contactándonos a través de nuestro formulario de contacto en la web o llamándonos directamente. Estaremos encantados de discutir tus necesidades y cómo podemos ayudarte a alcanzarlas.',
        icon: 'tabler:phone',
      },
      {
        title: '¿Qué es el desarrollo web?',
        description:
          'El desarrollo web incluye la programación personalizada de tu presencia online, ya sea una web corporativa, un ecommerce, o un hosting profesional. Nos aseguramos de que tu sitio web sea atractivo, funcional y optimizado para buscadores.',
        icon: 'tabler:code',
      },
      {
        title: '¿Cómo pueden ayudarme con las redes sociales?',
        description:
          'Creamos contenidos de alta calidad destinados a maximizar los resultados de tu estrategia de comunicación online. Gestionamos tus cuentas de redes sociales para aumentar tu presencia y engagement con tu audiencia.',
        icon: 'tabler:brand-facebook',
      },
      {
        title: '¿Qué beneficios tiene el SEO?',
        description:
          'El SEO (Search Engine Optimization) ayuda a mejorar el posicionamiento de tu sitio web en los motores de búsqueda, lo que aumenta la visibilidad y facilita que los clientes te encuentren. Implementamos técnicas avanzadas para asegurar que tu sitio web se destaque entre la competencia.',
        icon: 'tabler:search',
      },
      {
        title: '¿Qué incluye una campaña de Google Ads?',
        description:
          'Desarrollamos campañas altamente efectivas de Google Ads para atraer clientes a tu sitio web de manera constante. Nos encargamos de la creación, gestión y optimización de los anuncios para obtener el mejor rendimiento posible.',
        icon: 'tabler:briefcase',
      },
      {
        title: '¿Qué es el networking de profesionales?',
        description:
          'La colaboración entre empresas y socios es parte de nuestra esencia en Announce Me. A través del networking de profesionales, facilitamos conexiones valiosas que pueden ayudarte a expandir tu negocio y alcanzar nuevos mercados.',
        icon: 'tabler:network',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contacto',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Announce me&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      En Announce Me, estamos comprometidos a impulsar tu éxito digital con soluciones innovadoras y efectivas. ¡Contáctanos hoy y descubre cómo podemos ayudarte a destacar en el mundo digital!
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>
</Layout>
