---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Slider from '~/components/Slider.astro';

const metadata = {
  title: 'Announce me',
  ignoreTitleTemplate: true,
};

const actions = [
  {
    variant: 'primary',
    text: 'Servicios',
    href: '/services',
    target: '_blank',
    icon: 'tabler:briefcase',
  },
  { text: 'Sobre nosotros', href: '/about' },
];

const media = {
  src: '/src/assets/images/desarrollowebgif.gif', // Asegúrate de que la ruta al GIF sea correcta
  alt: 'Desarrollo Web GIF',
  type: 'gif',
};
---

<Layout metadata={metadata}>
  <Slider />

  <!-- Hero Widget ******************* -->
  <Hero actions={actions} media={media}>
    <Fragment slot="title">
      Bienvenid@ a la web <span class="hidden xl:inline">de</span>
      <span class="text-accent dark:text-white highlight"> ANNOUNCE ME:</span> tu socio estratégico del mundo digital
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      En <span class="font-semibold">Announce me</span> nos especializamos en ofrecer una gama completa de servicios diseñados para potenciar tu presencia en línea y ayudarte a alcanzar tus objetivos comerciales. Nuestra experiencia y dedicación nos permiten ofrecer soluciones personalizadas para nuestros clientes.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Qué te ofrecemos"
    subtitle="A continuación puedes ver nuestros servicios"
    tagline="Components"
    items={[
      {
        title: 'Desarrollo web',
        description: "Programación personalizada de tu presencia online: web corporativa, ecommerce, hosting profesional.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Redes sociales',
        description: "Creamos contenidos de alta calidad destinados a maximizar los resultados de tu estrategia de comunicación online.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Redacción de copy y blogs',
        description:
          'Comunicamos la esencia de tu marca y de tu negocio para llegar a tu público objetivo con el mensaje clave.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'SEO',
        description:
          "Te ayudamos a mejorar el posicionamiento de tu sitio web en buscadores para que los clientes te encuentren.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Google Ads',
        description:
          'Desarrollamos campañas altamente efectivas de Google Ads para atraer clientes a tu sitio web de manera constante.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Networking de profesionales',
        description: 'La colaboración entre empresas y socios es parte de nuestra esencia en Announceme. ¡Llegamos más lejos en equipo!',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->
  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->
  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contacto',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Announce me&nbsp;&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      En Announce Me, estamos comprometidos a impulsar tu éxito digital con soluciones innovadoras y efectivas. ¡Contáctanos hoy y descubre cómo podemos ayudarte a destacar en el mundo digital!
    </Fragment>
  </CallToAction>
</Layout>
