---
// import Features2 from '~/components/widgets/Features2.astro';
import Card from '~/components/widgets/Card.astro';
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/ui/Headline.astro';


const metadata = {
  title: 'Services',
};

const headlineData = {
  title: 'Servicios',
  subtitle: 'A continuación puede consultar los servicios disponibles.',
};
---

<Layout metadata={metadata}>

  <!-- Cards Widget ************** -->
  <main class="p-12">

    <!-- Headline Ui ************** -->
    <Headline {...headlineData} />
    
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <Card
        imagen="/src/assets/images/Education.png"
        title="Educational"
        body="By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces."
        href="./services/educational"
      />
      <Card
        imagen="/src/assets/images/desarrolloweb.webp"
        title="Interior Design"
        body="Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision."
        href="./services/interior-design"
      />
      <Card
        imagen="/src/assets/images/productoravideo.png"
        title="Photography"
        body="Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts."
        href="./services/photography"
      />
      <Card
        imagen="/src/assets/images/rrss.jpg"
        title="E-commerce"
        body="Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps."
        href="./services/e-commerce"
      />
      <Card
        imagen="/src/assets/images/blogs.webp"
        title="Blog"
        body="With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs."
        href="./services/blog"
      />
      <Card
        imagen="/src/assets/images/hero-image.png"
        title="Business"
        body="Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence."
        href="./services/business"
        />
    </ul>
  </main>

</Layout>

